<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CheckoutMapper">

  <select id="selectCheckoutItems"
    resultType="com.example.dto.CheckoutItemDto">
    select ci.product_id, p.product_name, ci.qty, p.price_excl,
      ci.unit_price_excl as unit_price_at_cart_addition, p.stock, p.status
    from cart_item ci
    join product p on p.product_id = ci.product_id
    where ci.cart_id = #{cartId}
    order by ci.created_at desc, ci.product_id desc
      for update
  </select>
  
    <select id="selectOrderByPrimaryKey" resultType="com.example.entity.Order">
    select *
    from `order`
    where order_id = #{orderId}
  </select>

  <insert id="insertOrderHeader" useGeneratedKeys="true" keyProperty="orderNumber" keyColumn="order_number">
    insert into `order` (
      order_id, user_id, name, postal_code, address,
      total_qty, total_price_incl
    ) values (
        #{orderId}, #{userId}, #{name}, #{postalCode}, #{address},
        #{totalQty}, #{totalPriceIncl}
    )
  </insert>
  
  <insert id="insertOrderItems">
    insert into order_item (
      order_id, product_id, product_name, qty, unit_price_incl, subtotal_incl
    ) values 
    <foreach collection="items" item="it" separator=",">
      (#{it.orderId}, #{it.productId}, #{it.productName}, #{it.qty},
         #{it.unitPriceIncl}, #{it.subtotalIncl})
    </foreach>
  </insert>

  <!-- <delete id="deleteRemovedItems"> -->
  <!-- delete from cart_item -->
  <!-- where cart_id = #{cartId} -->
  <!-- and product_id in -->
  <!-- <foreach collection="productIds" item="id" open="(" separator="," 
    close=")"> -->
  <!-- #{id} -->
  <!-- </foreach> -->
  <!-- </delete> -->
  
<!--  <select id="selectItemsByOrderIds" resultType="com.example.dto.OrderItemDto">-->
<!--    select-->
<!--      order_id, product_id, product_name, price, qty-->
<!--    from order_item-->
<!--    where order_id in-->
<!--      <foreach  item="id" collection="orderIds" open="(" separator="," close=")">-->
<!--        #{id}-->
<!--      </foreach>-->
<!--  </select>-->

</mapper>
