<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.OrderHistoryMapper">
  
  <select id="selectHeadersByUser" resultType="com.example.entity.Order">
    select *
    from `order`
    where user_id = #{userId}
    order by created_at desc
  </select>
  
  <select id="selectOrderItems" resultType="com.example.entity.OrderItem">
    select *
    from order_item
    where order_id = #{orderId}
  </select>

</mapper>