<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
  <select id="selectUserByPrimaryKey" resultType="com.example.entity.User">
    select *
    from `user`
    where user_id = #{userId}
  </select>
  
  <select id="selectUserByEmail" resultType="com.example.entity.User">
    select *
    from `user`
    where email = #{email}
  </select>
  
    <select id="selectPreRegistrationByPrimaryKey" resultType="com.example.entity.PreRegistration">
    select *
    from pre_registration
    where token_hash = #{tokenHash}
  </select>
  
  <insert id="insertPreRegistration">
    insert into pre_registration
      (token_hash, email, expires_at)
    values (#{tokenHash}, #{email}, #{expiresAt})
  </insert>
  
  <delete id="deletePreRegistrationByPrimaryKey">
    delete from pre_registration
    where token_hash = #{tokenHash}
  </delete>
  
  <insert id="insertUser" parameterType="com.example.entity.User">
    INSERT INTO `user`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      user_id,
      email,
      password_hash,
      last_name,
      first_name,
      last_name_kana,
      first_name_kana,
      postal_code,
      address_pref_city,
      address_area,
      address_block,
      address_building,
      phone_number,
      birthday,
      gender,
      <if test="nickname != null">
        nickname,
      </if>
    </trim>
    VALUES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      #{userId},
      #{email},
      #{passwordHash},
      #{lastName},
      #{firstName},
      #{lastNameKana},
      #{firstNameKana},
      #{postalCode},
      #{addressPrefCity},
      #{addressArea},
      #{addressBlock},
      #{addressBuilding},
      #{phoneNumber},
      #{birthday},
      #{gender},
      <if test="nickname != null">
        #{nickname},
      </if>
    </trim>
  </insert>
  
  <insert id="insertPasswordResetToken">
    insert into password_reset_token(
      token_hash,
      email,
      expires_at
    ) values(
      #{tokenHash},
      #{email},
      #{expiresAt}
    )
  </insert>
  
  <select id="selectPasswordResetTokenByPrimaryKey" resultType="com.example.entity.PasswordResetToken">
    select *
    from password_reset_token
    where token_hash = #{hash}
  </select>
  
  <delete id="deletePasswordResetToken">
    delete from password_reset_token
    where token_hash = #{tokenHash}
  </delete>
  
  <update id="updatePasswordByPrimaryKey">
    update `user`
    set password_hash = #{pw}
    where user_id = #{userId}
  </update>
  
  <update id="updatePasswordByEmail">
    update `user`
    set password_hash = #{pw}
    where email = #{email}
  </update>
  
  <update id="saveEmailChangeRequest">
    update `user`
    set pending_email = #{newEmail},
        email_token_hash = #{tokenHash},
        pending_expires_at = #{expiresAt}
    where user_id = #{userId}
  </update>
  
  <select id="selectUserByTokenHash">
    select *
    from `user`
    where email_token_hash = #{tokenHash}
  </select>
  
  <update id="confirmEmailChange">
    update `user`
    set email = pending_email,
        pending_email = NULL,
        email_token_hash = NULL,
        pending_expires_at = NULL
    where email_token_hash = #{tokenHash}
  </update>
  
  <update id="updateProfile">
    update `user`
    set
      last_name         = #{req.lastName},
      first_name        = #{req.firstName},
      last_name_kana    = #{req.lastNameKana},
      first_name_kana   = #{req.firstNameKana},
  
      postal_code       = #{req.postalCode},
      address_pref_city = #{req.addressPrefCity},
      address_area      = #{req.addressArea},
      address_block     = #{req.addressBlock},
  
      address_building = #{req.addressBuilding},
      phone_number      = #{req.phoneNumber},
      birthday          = #{req.birthday},
      gender            = #{req.gender},
      nickname = #{req.nickname}
  
    where user_id = #{userId}
  </update>

  
</mapper>
