<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.admin.AdminOrderMapper">

  <select id="selectPage" resultType="com.example.dto.admin.AdminOrderDto">
    select 
      order_id,
      lpad(cast(order_number as char), 4, '0') as order_number,
      total_price_incl AS totalPrice,
      name,
      shipping_status,
      payment_status,
      created_at
    from `order`
    <where>
      <if test="req.keyword != null">
        and (
         replace(name,' ','') like concat('%', #{req.keyword}, '%')
         or order_number like concat('%', #{req.keyword}, '%')
        )
      </if>
      <if test="req.shippingStatus != null">
        and shipping_status = #{req.shippingStatus}
      </if>
      <if test="req.paymentStatus != null">
        and payment_status = #{req.paymentStatus}
      </if>
      <if test="req.createdFrom != null">
        AND created_at &gt;= #{req.createdFrom} 
      </if>
      <if test="req.createdTo != null">
        AND created_at &lt;= #{req.createdTo} 
      </if>
    </where>
    order by ${req.sortField.field} ${req.sortDirection}
    limit #{limit} offset #{offset}
  </select>

  <select id="count" resultType="int">
    select count(*)
    from `order`
    <where>
      <if test="keyword != null">
        and (
         replace(name,' ','') like concat('%', #{keyword}, '%')
         or order_number like concat('%', #{keyword}, '%')
        )
      </if>
      <if test="shippingStatus != null">
        and shipping_status = #{shippingStatus}
      </if>
      <if test="paymentStatus != null">
        and payment_status = #{paymentStatus}
      </if>
      <if test="createdFrom != null">
        AND created_at &gt;= #{createdFrom} 
      </if>
      <if test="createdTo != null">
        AND created_at &lt;= #{createdTo} 
      </if>
    </where>
  </select>
  
  <select id="selectOrderHeader" resultType="com.example.dto.admin.AdminOrderDetailDto">
    select
      o.order_id,
      lpad(cast(o.order_number as char), 4, '0') as order_number,
      o.total_price_incl AS totalPrice,
      o.shipping_status,
      o.payment_status,
      o.created_at,
      o.name,
      concat_ws(' ', u.last_name_kana, u.first_name_kana) as name_kana,
      u.email,
      u.postal_code,
      o.address,
      u.phone_number
    from `order` o 
    join `user` u
      on o.user_id = u.user_id
    where o.order_id = #{orderId}
  </select>
  
  <select id="selectOrderItems" resultType="com.example.dto.admin.AdminOrderDetailItemDto">
    select
      product_id,
      product_name,
      unit_price_incl AS price,
      qty,
      subtotal_incl AS subtotal
    from order_item
    where order_id = #{orderId}
    order by product_id
  </select>
  
  <update id="updateShippingStatus">
    update `order`
    set shipping_status = #{status}
    where order_id = #{orderId}
  </update>
  
    <update id="updatePaymentStatus">
    update `order`
    set payment_status = #{status}
    where order_id = #{orderId}
  </update>

  <select id="selectOrderForUpdate" resultType="com.example.entity.Order">
    select *
    from `order`
    where order_id = #{orderId}
    for update
  </select>
  
  <select id="selectOrderItemsForUpdate" resultType="com.example.entity.OrderItem">
    select *
    from order_item
    where order_id = #{orderId}
    for update
  </select>
  
  <select id="selectProductsForUpdate" resultType="com.example.entity.Product">
    select *
    from product
    where product_id in
    <foreach collection="productIds" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
    for update
  </select>
  
  <update id="updateItemQty">
    update order_item
    set qty = #{qty},
        subtotal_incl = #{subtotal}
    where order_id = #{orderId}
      and product_id = #{productId}
  </update>
  
  <update id="addStock">
    update product
    set stock = stock + #{qty}
    where product_id = #{productId}
  </update>
  
  <update id="updateTotals">
    update `order` o
    join (
      select order_id, sum(qty) as sum_qty, sum(subtotal_incl) as sum_price
      from order_item
      where order_id = #{orderId}
    ) oi on o.order_id = oi.order_id
    set
      o.total_qty = oi.sum_qty,
      o.total_price_incl = oi.sum_price
    where o.order_id = #{orderId}
  </update>
  
  <delete id="deleteOrderItem">
    delete from order_item
    where order_id = #{orderId}
      and product_id = #{productId}
  </delete>
  
  

</mapper>
